body {
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond;
}

html, body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: hidden;
}

body {
  position: relative
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.nav {
    height: 75px;
    background-color: blanchedalmond;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.logoimg {
  height: 80px;
}

html, body { 
  height: 100%;
  margin:0;
  padding:0;
}


.ocean { 
  height: 7%;
  width:100%;
  position:relative;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  bottom: 0;
  width: 6400px;
  height: 15em;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  bottom: 0%;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.paper, .metal, .plastic {
  float: left;
  width: 16.66%;
  margin-right: 5px;
}

.icons {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

.container {
  padding-top: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20em;
}

p {
  line-height: 2em;
}

.start{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: black;
  color: blanchedalmond;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.start:hover {
    background-color: inherit;
    color: black;
    text-decoration: underline;
}

a {
  color: #31c67f;
  text-decoration: none;
}